@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Color Theme Swatches in Hex */
/* .Blues-1-hex { color: #5F757F; }
.Blues-2-hex { color: #20EBFF; }
.Blues-3-hex { color: #BEF8FF; }
.Blues-4-hex { color: #37657F; }
.Blues-5-hex { color: #7EB0CC; } */

:root {
  --background-100: #F5F5F5;
  --background-200: #E5E5E5;
  --text-color: #333;
  --blue-100: #20EBFF;
  --blue-300: #7EB0CC;
  --blue-800: #37657F;
  --orange-100: #FFCFA2;
  --orange-800: #FFA856;
  --orange-900: #CC8645;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h2, h3, h4 {
  margin-bottom: .5em;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 1.5em;
}

h2 {
  text-decoration: underline solid var(--blue-300) 2px;
  color: var(--blue-800);
  font-size: 2rem;
  font-family: "Shantell Sans", cursive;
}

h3 {
  font-size: 1.65rem;
}

h4 {
  font-size: .9rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.4;
}
